.containerQuestion{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4% 8%;
}

.left{
    width: 20%;
}

.right{
    width: 80%;
}

.infoFlex{
    display: flex;
    justify-content: space-between;
}

.tag{
    padding: 1% 5%;
    margin-top: 2%;
}
